#header {
    display: flex;
    height: 250px;
}

#header_logo {
    height: 100%;
    max-width: 20%;
}

.header_element{
    flex: auto;
    height: 100%;
}

.top_to_bottom {
    width: 0;
    word-wrap: break-word;
}

.flex_container {
    display: flex;
}

.animal_tab {
    width: 30px;
    height: 100%;
}